---
import { buttonVariants } from "@/components/ui/shadcn/button";
import { Image } from "astro:assets";

// assets
import Logo from "@/assets/images/logo.png";

// ui
import Ilustration from "@/assets/images/luz.png";
---

<section
  class="xxs:h-96 sm:h-[328px] xxs:max-w-[347px] sm:max-w-xl lg:max-w-4xl xl:max-w-6xl mx-auto [border-width:0.2px] rounded-2xl border-[#4c4b4b] my-32"
>
  <div
    class="relative h-full p-7 flex flex-col gap-5 items-start overflow-hidden"
  >
    <div class="flex items-center gap-3">
      <Image src={Logo} alt={""} loading={"eager"} />
      <h3 class="text-[23px]">Dieler</h3>
    </div>
    <div class="flex flex-col xxs:m-auto lg:m-0 items-center xxs:gap-7 md:gap-5">
      <h4 class="xxs:text-xl xs:text-2xl sm:text-4xl xxs:self-center lg:text-[43px] lg:self-start">
        <span class="text-[#FBB911]">Soluciones</span> tangibles
      </h4>
      <p
        class="xxs:text-sm  xxs:mx-auto xxs:w-11/12 xxs:text-center lg:text-start lg:m-0 lg:self-start lg:w-1/2 text-[#ccc]"
      >
        A diferencia de muchas agencias priorizamos el crecimiento de nuestros
        clientes y no tratamos de venderte nada.
      </p>
      <a
        href="/agendar"
        class={`${buttonVariants({ variant: "outline", size: "xl" })} z-10 xxs:self-center lg:self-start`}
      >
        ¡Compruebalo!
      </a>
    </div>
    <span class="absolute left-0 bottom-0">
      <Image src={Ilustration} alt={""} loading={"eager"} />
    </span>

    <span class="absolute right-0 top-0 rotate-180">
      <Image src={Ilustration} alt={""} loading={"eager"} />
    </span>
  </div>
</section>
