---
import ButtonCTA from "@/components/ui/custom/ButtonCTA.astro";
---

<div class="flex flex-col w-full items-center my-20 gap-20">
  <h1 class="font-semibold text-4xl md:w-3/5 xl:w-1/2 2xl:w-[25%] text-center">
    Tenemos todo lo que tu negocio <span class="text-[#FBB911]">necesita</span>
  </h1>
  <div
    class="bg-[#111] w-[600px] h-[298px] border-white border-2 rounded-3xl text-center leading-[290px]"
    style="box-shadow: 0px 2px 30px 0px rgb(227, 176, 30);"
  >
    Video de venta (VSL)
  </div>
  <ButtonCTA
    text="Quiero mas ventas en mi negocio"
    theme="dark"
    type="normal"
    link="/agendar"
  />
</div>
