---
import ButtonCTA from "@/components/ui/custom/ButtonCTA.astro";
---

<div class="flex flex-col w-full items-center xxs:my-16 sm:my-20 xxs:gap-10 md:gap-14 lg:gap-20">
  <h1 class="font-semibold xxs:text-[22px] sm:text-3xl md:text-4xl xxs:w-4/5 md:w-3/4 lg:w-1/2 2xl:w-[25%] text-center">
    Tenemos todo lo que tu negocio <span class="text-[#FBB911]">necesita</span>
  </h1>
  <div
    class="bg-[#111] xxs:w-4/5 sm:w-[600px] h-[298px] border-white border-2 rounded-3xl text-center leading-[290px]"
    style="box-shadow: 0px 2px 30px 0px rgb(227, 176, 30);"
  >
    Video de venta (VSL)
  </div>
  <ButtonCTA
    text="Quiero mas ventas en mi negocio"
    theme="dark"
    type="normal"
    link="/agendar"
  />
</div>
