---
// images
import { Image } from "astro:assets";
import Contenidos from "@/assets/images/resultados-contenidos.png";
import Pauta from "@/assets/images/resultados-pauta.png";
---

<section class="max-w-6xl mx-auto h-auto mb-20 flex flex-col gap-10">
  <h3 class="xxs:text-xl sm:text-2xl text-center">
    ¡Conoce nuestros casos de exito!
  </h3>
  <div class="flex xxs:flex-col md:flex-row xxs:items-center xl:items-start gap-10 w-full m-auto justify-center">
    <Image src={Contenidos} alt="" class={"xxs:w-11/12 md:w-[45%]"} />
    <Image src={Pauta} alt="" class={"xxs:w-11/12 md:w-[45%]"} />
  </div>
</section>
