@import url("./variables.css");


html {
  scroll-behavior: smooth;
}

body {
  background: #111;
  color: #fff;
  font-family: var(--font-primary)
}

::-webkit-scrollbar {
  background: #111;
}

::-webkit-scrollbar-thumb {
  background: #222;
}
