<section class="my-10">
  <div class="flex flex-col items-center gap-4 xxs:mb-10 md:m-0">
    <h3 class="xxs:text-[22px] sm:text-3xl md:text-4xl">
      Reúnete con <span class="text-[#FBB911]">nosotros</span>
    </h3>
    <p class="text-[#ccc] xxs:text-md sm-text-lg xxs:w-11/12 sm:w-2/5 xl:w-1/2 text-center">
      En breves minutos te daremos una ruta clara y concisa para que empieces a
      tener mayores porcentajes de conversión.
    </p>
  </div>

  <!-- calendly -->
  <div
    class="calendly-inline-widget"
    data-url="https://calendly.com/dielerperformance/reunion?hide_event_type_details=1&hide_gdpr_banner=1&background_color=111111&text_color=ffffff&primary_color=f4a424"
    style="min-width:320px;height:700px;"
  >
  </div>
  <script
    type="text/javascript"
    src="https://assets.calendly.com/assets/external/widget.js"
    async></script>
</section>
