---
//images
import { Image } from "astro:assets";
import Beneficios from "@/assets/images/beneficios-page.png";
import Explicacion from "@/assets/images/embudos-explicacion.png";
import Explicacion_2 from "@/assets/images/embudos-explicacion_2.png";
import Proceso from "@/assets/images/proceso-landing.png";
import Diseños from "@/assets/images/diseños-pages.png";

// components
import Results from "@/components/ui/custom/BannerResults.astro";
import Button from "@/components/ui/custom/ButtonCTA.astro";
import { buttonVariants } from "@/components/ui/shadcn/button";
---

<section>
  <div class="flex flex-col w-full items-center xxs:my-16 sm:my-20 xxs:gap-10 md:gap-14 lg:gap-20">
    <h1 class="font-semibold xxs:text-[22px] sm:text-3xl md:text-4xl xxs:w-4/5 md:w-3/4 lg:w-1/2 2xl:w-[25%] text-center">
      Transforma tus visitas en Clientes con una <span class="text-[#FBB911]"
        >Landing Page</span
      > de Alto Impacto
    </h1>
    <div
      class="bg-[#111] xxs:w-4/5 sm:w-[600px] h-[298px] border-white border-2 rounded-3xl text-center leading-[290px]"
      style="box-shadow: 0px 2px 30px 0px rgb(227, 176, 30);"
    >
      Video de venta (VSL)
    </div>
    <Button
      theme="dark"
      type="normal"
      text="¡La voy a implementar en mi negocio!"
      link="/agendar"
    />
  </div>

  <div class="flex flex-col w-full gap-4">
    <Results
      Mounts={[
        {
          mount: "200",
          text: "LANDINGS PAGES CREADAS",
        },
        {
          mount: "23",
          text: "CLIENTES EN 4 PAISES DIFERENTES",
        },
        {
          mount: "34",
          text: "NICHOS DIFERENTES TRABAJADOS",
        },
      ]}
    />
  </div>

  <div class="flex flex-col items-center mb-20">
    <h3 class="text-2xl text-center mb-10">¿Qué Consigues?</h3>

    <Image class="xxs:w-full object-cover md:w-4/5 lg:w-1/2 2xl:w-2/5" src={Beneficios} alt={""} />

    <p class="text-center xxs:w-11/12 sm:w-3/5 xl:w-1/2 mt-10 xxs:text-sm md:text-md">
      Después de tantos aprendizajes, contamos con un portafolio de recursos
      probados, listos para ser utilizados en tu negocio, no más paginas llenas
      de información que lo unico que hacen es ruido mental, si queremos
      aumentar más nuestra conversación, hagamos nuestro camino a la venta más
      atractivo y más facil.
    </p>
  </div>

  <div class="flex flex-col gap-10 items-center mb-20">
    <h3 class="font-semibold xxs:text-[22px] xxs:w-4/5 md:w-3/4 lg:w-1/2 2xl:w-[25%] text-center mb-10">
      Un ejemplo <span class="text-[#FBB911]">Claro</span> y Real (Embudo de ventas)
    </h3>

    <Image class="xxs:w-full object-cover md:w-4/5 lg:w-1/2" src={Explicacion} alt={""} />
    <Image class="xxs:w-full object-cover md:w-4/5 lg:w-1/2" src={Explicacion_2} alt={""} />
  </div>

  <div class="flex flex-col mb-20 items-center">
    <h3 class="font-semibold xxs:text-[22px] xxs:w-4/5 md:w-3/4 lg:w-1/2 2xl:w-[25%] text-center mb-10">Nuestra forma de trabajar</h3>
    <Image class="xxs:w-full object-cover md:w-4/5 lg:w-1/2" src={Proceso} alt={""} />
  </div>

  <div class="flex flex-col mb-20 items-center">
    <h3 class="font-semibold xxs:text-[22px] xxs:w-4/5 md:w-3/4 lg:w-1/2 2xl:w-[25%] text-center mb-10">
      Algunos diseños que hemos realizado
    </h3>
    <Image class="xxs:w-full object-cover md:w-4/5 lg:w-1/2" src={Diseños} alt={""} />
  </div>

  <div class="flex flex-col items-center justify-center mb-20">
    <h3 class="font-semibold xxs:text-[22px] xxs:w-4/5 md:w-3/4 lg:w-1/2 2xl:w-[25%] text-center mb-10">¿Listo para comenzar? <span class="text-[#FBB911]">¡HABLEMOS!</span></h3>
    <a
      href="#"
      class={`${buttonVariants({ variant: "outline", size: "xl" })} z-10 text-center`}
    >
      Conoce nuestro portafolio
    </a>
  </div>
</section>
