---
import Button from "@/components/ui/custom/ButtonCTA.astro";
import { SkeletonCard } from "@/components/ui/custom/skeletonContent";
import { AccordionQuestionsPage } from "@/components/ui/custom/AccordionQuestionsPage";
---

<section>
  <div class="flex flex-col w-full items-center my-20 gap-20">
    <h1 class="font-semibold text-4xl w-1/2 text-center">
      La herramienta que esta consiguiendo que las empresas aumenten sus <span
        class="text-[#FBB911]">cifras</span
      >
    </h1>
    <div
      class="bg-[#111] w-[600px] h-[298px] border-white border-2 rounded-3xl text-center leading-[290px]"
      style="box-shadow: 0px 2px 30px 0px rgb(227, 176, 30);"
    >
    Video de venta (VSL)
    </div>
    <Button
      theme="dark"
      type="normal"
      text="¡La voy a implementar en mi negocio!"
      link="/agendar"
    />
  </div>

  <div class="my-20 flex flex-col w-full items-center gap-4">
    <h3 class="text-2xl w-[30%] text-center">
      ¿Que consigues si implementas este embudo de conversión?
    </h3>
    <div class="gap-10 mt-10 grid grid-cols-2">
      <picture class="flex justify-end">
        <SkeletonCard client:load />
      </picture>

      <div class="flex flex-col gap-5 justify-center">  
        <p>✨ Posicionas tu marca y construyes una identidad</p>
        <p>✨ Recibes prospectos más calificados</p>
        <p class="w-3/5">
          ✨ Es un recurso valioso que puede incrementar tu facturación
          significativamente
        </p>
        <p>✨ Generas mas confianza y credibilidad</p>
      </div>
    </div>
  </div>

  <div class="flex flex-col items-center my-20">
    <h3 class="text-2xl text-center">
      ¿No te convece? ¡Obtén Respuestas Rápidas y Claras!
    </h3>

    <AccordionQuestionsPage client:visible />
  </div>
</section>
